sem-1/MATH/

sem-1/PDSP/assignments
sem-1/PDSP/nptel-course
sem-1/PDSP/mamu-notes

sem-1/pbsr-visu/assignments
# sem-1/pbsr-visu/PBSR classwork
sem-1/pbsr-visu/practice
sem-1/pbsr-visu/visualisation classwork/trial_project_folder
sem-1/pbsr-visu/visualisation assignment
sem-1/pbsr-visu/visualisation-project
sem-1/pbsr-visu/pbsr-assignment

sem-1/rdbms-sql/assignments
sem-1/rdbms-sql/classwork
sem-1/rdbms-sql/mamu notes

sem-1/random-works-latex/
sem-1/random-works-python/
sem-1/random-works-r/

# sem-1/

sem-2/random-works-latex/
sem-2/random-works-python/
sem-2/random-works-r/

sem-2/laa/assignments/
sem-2/dmml/
sem-2/laa/
sem-2/algo/
sem-2/dcbd/

*.toc
*.png
*.aux
*.fdb_latexmk
*.fls
*.txt
*.bcf
*.xml
*.out
*.log
*.gz
*.RData
*.Rhistory
*.csv
*.tex
*.thm
.Rproj.user
*desktop.ini